body {
  width: 100%;
}

main {
  width: 100%;
}

.container {
  width: 100%;
  max-width: $maxwidth-global;
  margin: 0 auto;
  .content {
    padding: 0 $gap-global;
  }
}

@include mobile {
  .container {
    .content {
      padding: 0 $gap-global-small;
    }
  }
}