body {
  font-family: 'Open Sans', Helvetica, Roboto, Arial, sans-serif;
  font-size: $p;
  color: $black;
}
p{
  line-height: 20px;
}

a{
  color: $secondary;
  text-decoration: none;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
  font-family: 'Playfair Display', serif;
}

.h2 {
  color: $primary;
  font-size: $h2;
  &::after {
    content: "";
    display: block;
    height: 5px;
    width: 50px;
    margin-top: 28px;
    margin-bottom: 43px;
    background-color: $primary;
  }
}

.h3 {
  color: $primary;
}

.center .h2:after {
    margin-left: auto;
    margin-right: auto;
}

.right .h2:after {
    margin-left: auto;
}

.left .h2:after {
    margin-right: auto;
}

.bg-primary {
  .h2, p {
    color: white;
  }
  .big {
    font-size: 64px;
    margin-top: 30px;
    &:after {
      display: none;
    }
  }
  p {
    margin-bottom: 40px;
  }
}

.list--inline .item{
  display: inline-block;
}

ul{
  padding: 0;

}

@include mobile {
  .h2 {
    font-size: 20px;
  }
}
