.hide {
  display: none;
}

.invisible {
  opacity: 0;
}

.full {
  &.container {
    >.content {
      // margin-left: -$gap-global;
    }
  }
}

.bg-grey{ background-color: $grey--l1; }
.bg-primary{ background-color: $primary; }

.center{ text-align: center; }


@include desktop {
  .hide_desktop {
    display: none !important;
  }
}

@include tablet {
  .hide_tablet {
    display: none !important;
  }
}

@include mobile {
  .hide_mobile {
    display: none !important;
  }
}