@mixin desktop($minmax: min) {
  @media screen and (#{$minmax}-width: #{$desktop}) {
    @content;
  }
}
@mixin large-desktop {
  @media screen and (min-width: #{$large-desktop}) {
    @content;
  }
}

@mixin tablet($minmax: max) {
  @media screen and (#{$minmax}-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile($minmax: max) {
  @media screen and (#{$minmax}-width: #{$mobile}) {
    @content;
  }
}

@mixin landscape() {
  @media screen and (orientation: landscape) {
    @content;
  }
}

@mixin print() {
  @media print {
    @content;
  }
}

@mixin centerABS-x() {
  right: 50%;
  transform: translateX(50%);
}

@mixin centerABS-y() {
  top: 50%;
  transform: translateY(50%);
}