@mixin desktop() {
  @media screen and (min-width: #{$desktop}) {
    @content;
  }
}

@mixin tablet() {
  @media screen and (max-width: #{$tablet}) {
    @content;
  }
}

@mixin mobile() {
  @media screen and (max-width: #{$mobile}) {
    @content;
  }
}

@mixin landscape() {
  @media screen and (orientation: landscape) {
    @content;
  }
}

@mixin print() {
  @media print {
    @content;
  }
}

@mixin centerABS-x() {
  right: 50%;
  transform: translateX(50%);
}

@mixin centerABS-y() {
  top: 50%;
  transform: translateY(50%);
}