/** Colors */
$primary: #FEA10C;
$secondary: #0b0726;
$black: #333333;
$grey--l1: #F9F9F9;
$grey: #e5e5e5;
$shadow: 0px 2px 4px rgba(0,0,0,.1);

$pathIMG: "/src/img";

//Fonts Size
$p: 16px;
$h1: 60px;
$h2: 30px;

// Gap
$gap-global: 20px;
$gap-global-small: 40px;

$maxwidth-global: 1024px;

// Medias
$mobile: 767px;
$tablet: 991px;
$desktop: 991px;
