/** Colors */
$primary: #FEA10C;
$secondary: #0b0726;
$black: #333333;
$grey--l1: #F9F9F9;

$pathIMG: "/src/img";

//Titles
$h1: 60px;
$h2: 30px;

// Gap
$gap-global: 20px;
$gap-global-small: 40px;

$maxwidth-global: 1024px;

// Medias
$mobile: 767px;
$tablet: 991px;
$desktop: 991px;
