/** Colors */
$primary: #FEA10C;
$secondary: #0b0726;
$black: #4A4A4A;
$grey--l1: #F9F9F9;

$pathIMG: "/src/img";

// Gap
$gap-global: 20px;
$gap-global-small: 40px;

$maxwidth-global: 1024px;

// Medias
$tablet: 767px;
$mobile: 991px;
$desktop: 991px;