.btn{
  padding: 10px 30px;
  border: 1px solid $primary;
  border-radius: 100px;
  color: $primary;
  text-transform: uppercase;
  display: inline-block;
}

.bg-primary{
  .btn{
    border-color: transparent;
    background-color: white;
  }
}
.btn_contact{
  .btn{
  background-color: #FEA10C;
  color: #fff;
  margin: 25px 0px;
  }
}
