.flags {
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}

@include mobile {
  .flags {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10%;
   img {
     width: 100%px;
   }
  }
}
@media screen and (max-width: 400px) {
  .flags {
    grid-template-columns: 1fr 1fr;
    grid-gap: 7%;
  }
}