input, textarea {
  width: 100%;
  background-color: $grey;
  border: none;
}
input {
  height: 40px;
  margin: 5px 0 30px 0;
  &.btn {
    width: auto;
    background-color: $primary;
    color: #fff;
    float: right;
    margin-top: 30px;
    cursor: pointer;
  }
}
textarea {
  height: 100px;
  margin-top: 5px;
}
