input, textarea, select {
  width: 100%;
  background-color: $grey;
  border: none;
}
input,select {
  height: 40px;
  margin: 5px 0 30px 0;
  padding: 10px;
  &.btn {
    width: auto;
    background-color: $primary;
    color: #fff;
    float: right;
    margin-top: 30px;
    cursor: pointer;
    &:hover {
      background-color: transparent;
      color: $primary;
    }
  }
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('#{$pathIMG}/form/arrow.svg') 98% / 4% no-repeat $grey;
}

/* CAUTION: IE hackery ahead */
select::-ms-expand {
    display: none; /* remove default arrow on ie10 and ie11 */
}

label{
  display: block;
  text-align: left;
}
textarea {
  height: 100px;
  margin-top: 5px;
}
.form{
    max-width: 800px;
    margin: 0 auto;
    .col--2{
      display: flex;
      .col{
    display: inline-block;
    width: 50%;
    &:first-child{
      margin-right: 20px;
    }
    }
  }
    input{
      &.btn{
        float: initial;
      }
  }
  @include tablet{
      .col--2{
        display: block;
        .col{
          width: 100%;
        }
      }
  }
}
