.header {
  width: 100%;
  height: 40vh;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;
  .content{
    position: absolute;
    @include centerABS-x();
    bottom: 110px;
  }
  &.header--full {
    height: 100vh;
  }
  .header_h1{
    font-size: 64px;
    color: #FFFFFF;
    margin: 0;
  }
}

@include mobile {
  .header{
    .content{
      bottom: 40px;
    }
    .header_h1{
      font-size: 30px;
    }
  }
}
