.nav__main {
  img {
    width          : 50px;
    margin-right   : 20px;
    vertical-align : middle;
  }

  .item {
    a {
      margin-right : 20px;
      transition   : all 300ms;
    }

    &:before {
      content          : '';
      display          : inline-block;
      position         : relative;
      width            : 10px;
      height           : 10px;
      margin-right     : 10px;
      border-radius    : 50%;
      background-color : $secondary!important;
    }

    &.active:before {
      background-color : $primary!important;
    }

    &.logo:before {
      display : none;
    }

    &:hover a {
      color : $primary;
    }
  }
}

@include mobile(min) {
  .list.list--inline .item.hamburger{
    display: none;
  }
}
@include mobile {
  .nav__main {
    .list {
      .item:not(.logo, .hamburger) {
        display: none;
      }
    }
  }
}