.about {

  .header{
    background-image: url('#{$pathIMG}/about/header.jpg');
    background-position: 0 -40px;
  }

  .texte_image{
    display: flex;

    &.image--left{
      .image{
        margin-right: 25px;
      }
    }

    &.image--right{
      .image{
        margin-left: 25px
      }
    }

    .image{
      img{
        width: 300px;
      }
    }

  }

  @@include tablet{}

  }
}
