.about {

  .header{
    background-image: url('#{$pathIMG}/about/header.jpg');
    background-position: 0 -40px;
  }

  @include tablet{
    .header{
      background-position: 0 0px;
    }
    .h2{
      text-align: center;
      &::after{
        margin-left: auto;
        margin-right: auto;
      }
    }
    p{
      text-align: center;
    }
  }

}
