.about {

  .header{
    background-image: url('#{$pathIMG}/about/header.jpg');
    background-position: 0 -40px;
  }


  .about1{

    .bras{

      img{
        width: 50vh
      }

      &.bras--gauche{
        /*position: absolute;
        float: left;*/
      }

    }

  }

  .about2{

    .bras{
      display: block;

      img{
        width: 50vh
      }

      &.bras--gauche{
        /*position: absolute;
        float: left;*/
      }

    }

  }


}
