.devis {

  .header{
    background-image: url('#{$pathIMG}/devis/header.jpg');
    background-position: 0 -240px;
  }

  .amorce_contact{
    margin-top: 25px;
  }
  
  @include tablet{
    .header{
      background-position: 0 0px;
    }
  }

}
