.homepage {
  .img-services {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
  }
  .quote {
    font-style: italic;
    font-size: 24px;
    color: $primary;
    font-family: 'Playfair Display';
  }
  .infos {
    display: flex;
    .form {
      width: 60%;
    }
    .coordonnees {
      padding-left: 50px;
      padding-top: 25px;
      .icon-info {
        width: 40px;
      }
      .coordonnee {
        margin-bottom: 30px;
        p {
          display: inline-block;
          margin-left: 20px;
          margin-top: 0;
          margin-bottom: 0;
          vertical-align: middle;
        }
        img {
          vertical-align: middle;
        }
      }
    }
  }
}
