.homepage {
  .img-services {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
  }
  .infos {
    display: flex;
    .form {
      width: 60%;
    }
    .coordonnees {
      padding-left: 50px;
      padding-top: 25px;
      .icon-info {
        width: 40px;
      }
      .coordonnee {
        margin-bottom: 30px;
        p {
          display: inline-block;
          margin-left: 20px;
          margin-top: 0;
          margin-bottom: 0;
          vertical-align: middle;
        }
        img {
          vertical-align: middle;
        }
      }
    }
  }
}

@include tablet {
  .homepage {
    .img-services {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      text-align: center;
    }
  }
}

@include tablet {
  .homepage {
    .infos {
      .coordonnees {
        padding-left: 0;
      }
    }
  }
}

@include mobile {
  .homepage {
    .img-services {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
      text-align: center;
      img{
        width: 100%;
      }
    }
    .infos {
      display: grid;
      grid-template-columns: 1fr;
      .form {
        margin: 0;
        width: 100%;
      }
      .coordonnees {
        padding-left: 0;
      }
    }
  }
}

@include landscape {
  .cards{
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
  }
  .img-services{
    img{
      max-height: 170px;
      object-fit: cover;
    }
  }
}